:host {
  height: 100svh;
}

.mat-drawer-inner-container {
  display: flex;
}

.header {
  font-size: 1.5rem !important;
  letter-spacing: 3px;
  font-weight: 400;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    padding-top: 0.75rem;

    * {
      color: white;
      vertical-align: center;
    }
  }

  /* @media screen and (width<600px) {
    font-size: rem !important;
  } */
}

.mat-mdc-nav-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  flex-grow: 1;

  .nav-link {
    div {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &:last-child {
      align-self: flex-end;
    }
  }

  .active-nav-link {
    background-color: #3b55e2;

    * {
      color: white;
    }
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.mat-sidenav-content {

  height: 100svh;
  overflow: auto;
  scrollbar-gutter: stable;
}

.outlet-container {
  padding: 1rem;
  width: min(1240px, 100%);
  height: auto;
  margin-inline: auto;

  @media screen and (width<600px) {
    padding-bottom: 5rem;
  }
}