<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    *ngIf="isAdmin$ | async"
  >
    <mat-toolbar class="sidebar">
      <div>
        <mat-icon>person</mat-icon>
        <span>{{ username | titlecase }}</span>
      </div>
    </mat-toolbar>

    <mat-nav-list class="sidebar">
      <a
        mat-list-item
        class="nav-link"
        routerLinkActive="active-nav-link"
        routerLink="/users"
      >
        <div>
          <mat-icon>group</mat-icon>
          Users
        </div>
      </a>
      <a
        mat-list-item
        class="nav-link"
        routerLinkActive="active-nav-link"
        routerLink="/holidays"
      >
        <div>
          <mat-icon>weekend</mat-icon>
          Holidays
        </div>
      </a>
      <a
        mat-list-item
        class="nav-link"
        routerLinkActive="active-nav-link"
        routerLink="/leave-request"
      >
        <div>
          <mat-icon>free_cancellation</mat-icon>
          Leave Requests
        </div>
      </a>
      <a
        mat-list-item
        class="nav-link"
        routerLinkActive="active-nav-link"
        routerLink="/leaves"
      >
        <div>
          <mat-icon>surfing</mat-icon>
          Leaves
        </div>
      </a>
      <a
        mat-list-item
        class="nav-link"
        routerLinkActive="active-nav-link"
        (click)="onLogout()"
      >
        <div>
          <mat-icon>logout</mat-icon>
          Sign Out
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        *ngIf="(isAdmin$ | async) && (isHandset$ | async)"
        (click)="toggleSidebar()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="header">
        <h1>LEAVE LOG</h1>
        <a
          class="nav-link"
          routerLinkActive="active-nav-link"
          (click)="onLogout()"
        >
          <mat-icon>logout</mat-icon>
        </a>
      </div>
    </mat-toolbar>

    <div class="outlet-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
