:host {
  position: relative;
  z-index: 999;
  box-shadow: 0px 4px 10px rgba(gray, 0.4);

  @media screen and (width<600px) {
    z-index: unset;

  }
}

.mat-toolbar {
  padding-inline: 2rem;

  @media screen and (width<600px) {
    padding-inline: 0 1rem;

  }

  h1 {
    display: inline-block;
  }
}