<div class="header-container">
  <button
    mat-fab
    extended
    color="primary"
    class="action-btn"
    (click)="onApplyLeave()"
  >
    <mat-icon>add</mat-icon>
    Apply Leave
  </button>

  <mat-form-field class="searchbar">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter(input.value)" #input />
    <button mat-icon-button matSuffix (click)="applyFilter((input.value = ''))">
      <mat-icon> {{ input.value == "" ? "search" : "close" }}</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="__container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="button-toggle-group" *ngIf="!isLoading">
    <mat-button-toggle-group
      name="fontStyle"
      aria-label="Font Style"
      #toggleLeaves="matButtonToggleGroup"
      (change)="filterLeavesByStatus(toggleLeaves.value)"
    >
      <mat-button-toggle [checked]="activeTab == 'pending'" value="pending">
        Pending
      </mat-button-toggle>
      <mat-button-toggle [checked]="activeTab == 'history'" value="history"
        >History</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>

  <div class="cards-container" *ngIf="!isLoading">
    <ng-container
      *ngFor="
        let leave of dataSource._pageData(
          dataSource.filteredData | sortArray : 'fromDate'
        );
        index as i;
        trackBy: trackById
      "
    >
      <div class="card">
        <div class="card-header">
          <p class="leave-type">{{ leave.type }} Leave</p>
        </div>
        <div class="card-body">
          <p>
            <span>Reason</span> <strong>{{ leave.reason }}</strong>
          </p>
          <p>
            <span>Date(s)</span
            ><strong>{{
              (leave.fromDate == leave.toDate
                ? (leave.fromDate | date : "dd MMM")
                : (leave.fromDate | date : "dd MMM") +
                  " - " +
                  (leave.toDate | date : "dd MMM")) +
                ", " +
                (leave.toDate | date : "yyyy")
            }}</strong>
          </p>
          <p>
            <span>Day(s)</span>
            <strong>
              {{ getTotalDays(leave.fromDate, leave.toDate) }}
            </strong>
          </p>
          <p
            class="status"
            [class]="leave.status"
            *ngIf="leave.status != 'Pending'"
          >
            <span>Status </span>
            <strong>{{ leave.status }}</strong>
          </p>
        </div>
        <div class="card-actions" *ngIf="leave.status == 'Pending'">
          <button
            mat-stroked-button
            color="primary"
            (click)="onEditLeave(leave)"
          >
            <mat-icon>edit</mat-icon>
            Edit
          </button>
          <button
            mat-stroked-button
            color="warn"
            [disabled]="leave.status != 'Pending'"
            (click)="onDeleteLeave(leave.uid, leave.leaveId, leave.fromDate)"
          >
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
