<div class="container">
  <h2>{{ title }}</h2>
  <mat-dialog-content>
    <form action="" [formGroup]="holidayForm">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="title" />
        <mat-error *ngIf="holidayForm.get('title')?.hasError('required')"
          >Title cannot be empty</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="holidayForm.get('date')?.hasError('required')"
          >Date cannot be empty</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" />
        <mat-error *ngIf="holidayForm.get('description')?.hasError('required')"
          >Description cannot be empty</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Holiday Type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="National">National Holiday</mat-option>
          <mat-option value="Restricted">Restricted Holiday</mat-option>
        </mat-select>
        <mat-error *ngIf="holidayForm.get('type')?.hasError('required')"
          >Type cannot be empty</mat-error
        >
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      color="primary"
      [disabled]="holidayForm.invalid"
      (click)="onSubmit()"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
