:host {
  width: 500px;
  max-width: 100%;
  box-sizing: border-box;
  display: block;
}

.container {
  padding: 1rem;


  h2 {
    padding-inline: 1.5rem;
  }
}

form {
  display: grid;
  gap: 1rem;

  .mat-mdc-form-field {
    display: block;
  }
}

.mat-mdc-radio-group {
  display: flex;
  align-items: center;

  .mat-mdc-radio-button {
    display: flex;
    align-items: center;
  }
}


.mat-mdc-radio-button~.mat-mdc-radio-button {
  margin-left: 16px;
}

tr {
  th {
    &:last-child {
      text-align: center;
    }
  }
}