.mat-elevation-z8 {
  width: 100%;
}



.holiday-card-container {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
}

.holiday-card {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  position: relative;
  font-size: min(1rem, 1vw) !important;
  box-shadow: 2px 3px 15px rgb(200 200 200 / 50%);

  .date {
    display: grid;
    height: 100% !important;
    width: 25%;
    width: minmax(10ch, 3.5rem);
    min-width: 10ch;
    max-width: 3.5rem;
    background-color: hsl(231deg 100% 78.79% / 17%);

    p {

      display: grid;
      place-content: center;
      padding: 1rem;

      &:nth-child(1) {
        background-color: #3b55e2;
        color: white;
      }

      &:nth-child(2) {
        font-size: 1.6em;
        font-weight: 600;
        text-decoration: underline;
        text-underline-offset: 1.25rem;
        text-decoration-color: gray;

      }

      &:nth-child(3) {
        font-weight: 500;
      }
    }
  }

  .holiday-text-container {
    width: 75%;
    padding: 1rem 1.5rem 1rem 1rem;
    display: grid;
    gap: 1rem;

    .title {
      text-transform: capitalize;
      font-size: 1.3em;
      font-weight: 500;
      position: relative;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      overflow: hidden;
      -webkit-box-orient: vertical;
    }



    .description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      overflow: hidden !important;
      -webkit-box-orient: vertical;
    }


    .holiday-type {
      font-size: 0.8rem !important;
      width: max-content;
      height: max-content;
      border-radius: 0.25rem;
      background-color: rgba(#4455b1, 0.8);
      color: white;
      padding: 0.25rem 0.5rem;

      &.National {
        background-color: rgba(rgb(200, 0, 0), 0.8);
      }

      &.Restricted {
        background-color: rgba(rgba(0, 200, 0), 0.8);
      }
    }
  }

  .action-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}