@use "@angular/material" as mat;
@import "../../../styles/colors";

:host {
  height: 100svh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(
      0deg,
      rgba(mat.get-color-from-palette($primary-palette, 800), 0.1),
      rgba(mat.get-color-from-palette($primary-palette, 600), 0.1)
    ),
    url(../../../assets/images/bg.jpg);
  background-size: cover;

  background-position: center;
}

.wrapper {
  padding: 1rem;
  margin-inline: auto;
}

.logo-container {
  width: min(80%, 700px);
  aspect-ratio: 5/4;
  margin-inline: auto;
  border-radius: 1rem;
  backdrop-filter: blur(50px);
  background-color: rgba($background, 0.5);
  padding: 5%;
  height: min-content;
  display: grid;
  place-content: center;

  .logo {
    width: 100%;
    filter: drop-shadow(1px 1px 2px rgba($background, 0.2));
  }
}

.slogan {
  display: none;
  color: mat.get-color-from-palette($primary-palette, 700);
  margin-block: 1rem !important;
  font-size: 3.35vw;
}

.aside-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: min(500px, 100%);
  padding: min(3rem, 5vw);
  height: 100%;
  background-color: $background;

  .logo-icon {
    width: 50%;
    margin-bottom: 10%;
    margin-inline: auto;
  }

  .header {
    margin-block: 4rem 2rem;

    .mat-h2 {
      margin-bottom: 0rem !important;
      color: mat.get-color-from-palette($primary-palette, 900);
    }

    .mat-h3 {
      font-weight: 300 !important;
    }
  }

  .login-container {
    display: grid;
    gap: 1rem;

    div {
      mat-form-field {
        width: 100%;
      }
    }

    .btn-container {
      button {
        display: block;
        margin-left: auto;
      }
    }
  }
}

@media screen and (width<600px) {
  :host {
    flex-direction: column;
    justify-content: space-around;
    backdrop-filter: blur(10px);
    background: linear-gradient(
        0deg,
        rgba($background, 0.5),
        rgba($background, 0.5)
      ),
      url(../../../assets/images/bg.jpg);
    transform: matrix();
  }

  .slogan {
    font-size: 5vw;
    display: unset;
  }

  .logo-container {
    background-color: unset;
    backdrop-filter: unset;
  }

  .aside-container {
    height: min-content;

    .logo-icon {
      display: none;
    }

    background-color: unset;
    backdrop-filter: unset;
    justify-content: flex-end;
  }
}
