:host {
  display: block;
}

.mat-drawer-container {
  height: calc(100svh - 4rem);
}

.mat-sidenav {
  // width: 200px !important;
  width: max-content;
  position: unset;
  height: 100%;
  position: relative;

  @media screen and (width<600px) {
    position: fixed;
  }

}

.mat-toolbar {
  padding-left: 1.5rem;
}



.nav-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 0.5rem;
}

.active {
  background-color: #4758b8;

  * {
    color: white;
  }
}

.brand {
  display: flex;
  justify-content: space-between;
}