<mat-sidenav-container>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="brand" *ngIf="isHandset$ | async">
      <h1>LMS</h1>

      <button
        mat-icon-button
        *ngIf="isHandset$ | async"
        (click)="drawer.toggle()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/users">
        <div class="nav-link">
          <mat-icon>groups</mat-icon>
          <span>Users</span>
        </div>
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/holidays">
        <div class="nav-link">
          <mat-icon>event</mat-icon>
          <span>Holidays</span>
        </div>
      </a>
      <a mat-list-item routerLinkActive="active">
        <div class="nav-link">
          <mat-icon>free_cancellation</mat-icon>
          <span>Leave Request</span>
        </div>
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/employee">
        <div class="nav-link">
          <mat-icon>event_note</mat-icon>
          <span>Leave List</span>
        </div>
      </a>
      <a mat-list-item (click)="onSingout()">
        <div class="nav-link">
          <mat-icon>logout</mat-icon>
          <span>Sign Out</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
