<h2>Users</h2>
<div class="container">
  <div class="header-container">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter(input)" #input />
      <button mat-icon-button matSuffix (click)="clearFilter(input)">
        <mat-icon> {{ input.value == "" ? "search" : "close" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="employeeId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee ID</th>
        <td mat-cell *matCellDef="let row">{{ row.employeeId }}</td>
      </ng-container>

      <ng-container matColumnDef="fromDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>From</th>
        <td mat-cell *matCellDef="let row">
          {{ row.fromDate | date : "dd-MMM-yyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="toDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>To</th>
        <td mat-cell *matCellDef="let row">
          {{ row.toDate | date : "dd-MMM-yyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Reason</th>
        <td mat-cell *matCellDef="let row">{{ row.reason }}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let row">
          <mat-chip class="role">{{ row.type }} Leave</mat-chip>
        </td> </ng-container
      >,
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">
          <mat-chip class="role">{{ row.status }} </mat-chip>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <div class="btn-container">
            <button
              mat-icon-button
              matTooltip="Approve"
              [disabled]="row.status != 'Pending'"
              color="primary"
              (click)="onUpdateStatus(row.uid, row.leaveId, 'Approved')"
            >
              <mat-icon>check</mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="Reject"
              color="warn"
              [disabled]="row.status != 'Pending'"
              (click)="onUpdateStatus(row.uid, row.leaveId, 'Rejected')"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" class="placeholder-text">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
