@use "@angular/material" as mat;
@import "./styles/theme";

:root {
  font-size: min(14px, 5vw);
}

html,
body {
  font-size: 1rem;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* :not(mat-icon) {
  font-family: roboto, sans-serif !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//reset font size
p,
a {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

button:not(.mat-button-toggle-button, .mat-mdc-mini-fab, .mat-mdc-icon-button) {
  border-radius: 2rem !important;
  height: 2.5rem !important;
  padding: 0.5rem 1.5rem !important;
}

//custom scrollbar styling
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  @media screen and (width<600px) {
    height: 0 !important;
    width: 0 !important;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: mat.get-color-from-palette($primary-palette, 900);
}

::-webkit-scrollbar-track {
  background-color: rgba(#c6cfdc, 0.5);
  border-radius: 20px;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.btn {
  &:hover {
    cursor: pointer;
  }
}

//global styling for components

.header-container {
  display: grid;
  grid-template-areas:
    "area1 area1"
    " area3 area2";
  // grid-template-columns:  1fr auto;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 2;

  button.action-btn {
    border-radius: 0.4rem;
    width: fit-content;
    justify-self: self-end;
    grid-area: area2;
  }

  .searchbar {
    width: min(100%, 250px);
    justify-self: self-start;
    grid-area: area3;

    > :nth-child(2) {
      display: none;
    }
  }

  @media screen and (width<600px) {
    grid-template-areas: "area1 area3";

    .header {
      justify-self: self-start;
      font-size: 2rem;
    }

    button.action-btn {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      border-radius: 24px;
    }

    .searchbar {
      justify-self: self-end;
    }
  }
}

.__container {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
  background-color: rgba($background, 1);
  position: relative;
  min-height: 70vh;
  overflow: auto;

  .mat-elevation-z8 {
    position: relative;
    box-shadow: none !important;
    overflow-x: auto;
    min-height: 50vh;
    @media screen and (width>600px) {
      scrollbar-gutter: stable;
    }
  }

  .btn-container {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    button {
      &:hover {
        cursor: pointer !important;
      }
    }
  }

  .btn-container.short {
    display: none;
  }

  @media screen and (width<992px) {
    .btn-container {
      display: none !important;
    }

    .btn-container.short {
      display: block !important;
    }
  }
}

.form_container {
  .header {
    font-size: 1.7rem;
    font-weight: 500;
    padding: 1rem 2rem 0 2rem;
  }
}

.mat-mdc-menu-content {
  box-shadow: 0 0 20px rgba(rgb(0, 0, 0), 9);
}

.mat-mdc-paginator {
  margin-top: auto;
  @media screen and (width<600px) {
    padding-bottom: 2rem;
  }
}

tr {
  td,
  th {
    padding: 1rem;

    &:last-child {
      text-align: center;
    }
  }
}

//styling for toast / snakbar
.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  max-width: unset !important;
  min-width: 220px !important;
}

.toast {
  border-radius: 0.25rem;
  padding-left: 1rem;

  .mdc-snackbar__surface {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .mdc-snackbar__label {
    padding-left: 8px !important;
  }

  &::before {
    font-family: "Material Icons";
    font-size: 1.5rem;
    width: 1.5ch;
  }

  *,
  &::before {
    color: #ffffff !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    min-width: 0px !important;
  }

  .mdc-button__label::after {
    content: "close";
    font-family: "Material Icons";
    font-size: 1.5rem;
  }
}

.error {
  background-color: #bd2626 !important;

  &::before {
    content: "error";
  }
}

.success {
  background-color: #26bd2b !important;

  &::before {
    content: "check_circle";
  }
}

.warn {
  background-color: #babd26 !important;

  &::before {
    content: "warning";
  }
}

.info {
  background-color: #265dbd !important;

  &::before {
    content: "info";
  }
}

// styling for toggle buttons

.button-toggle-group {
  width: min-content;
  margin-inline: auto;
  margin-block: 1rem;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  color: mat.get-color-from-palette($primary-palette, 800);
  border: none;
  background-color: rgba($background, 0.9);
  border-bottom: 2px solid mat.get-color-from-palette($primary-palette, 800) !important;
}

.mat-button-toggle-group-appearance-standard {
  border: none !important;
}

.mat-button-toggle-appearance-standard {
  min-width: 12ch;
  background-color: lighten($background, 5%) !important;
  border: none;
}

.mat-mdc-progress-spinner {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// stylign for backdrop of navbar

.mat-drawer-backdrop.ng-star-inserted.mat-drawer-shown {
  background-color: rgba($background, 0.7) !important;
}

.mat-toolbar-single-row {
  @media screen and (width<600px) {
    padding-left: 0 !important;
  }
}

// .cdk-overlay-pane {
//   width: min(500px, 90vw);
//   max-width: unset !important;
// }
.cdk-overlay-dark-backdrop {
  background-color: rgba(
    darken(mat.get-color-from-palette($primary-palette, 900), 80%),
    0.8
  );
}

.cards-container {
  padding: 1rem;
  height: 100%;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(280px, 100%), 1fr));
  gap: 1rem;
  .card {
    background-color: lighten($background, 5%);
    border-radius: 0.5rem;
    padding: 1rem;
    .card-header {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    .card-body {
      padding-top: 0.75rem;
      margin-block: 0.75rem 1rem;
      border-top: 2px solid mat.get-color-from-palette($primary-palette, 700);
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      > * {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      .mat-icon {
        color: mat.get-color-from-palette($primary-palette, 400);
        font-size: 1.5rem;
        margin-top: 4px;
      }
    }
    .card-actions {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      button {
        padding: 0rem 1.25rem !important;
      }
    }
  }
}
