@use "@angular/material" as mat;
@import "../../../../styles/colors";

.placeholder-text {
  text-transform: unset !important;
}

.card {
  .card-header {
    .employeeId {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      &:after {
        content: "\ef4a";
        font-family: "Material Icons";
        font-size: 0.5rem;
        padding-left: 1rem;
        color: mat.get-color-from-palette($primary-palette, 900);
      }
      &::before {
        content: "\e9ef";
        font-family: "Material Icons";
        font-size: 1.5rem;
      }
    }
    .role {
      text-transform: capitalize;
      vertical-align: center;
      background-color: lighten($background, 3%);
      padding: 0.5rem 1rem;
      border-radius: 2rem;
    }
  }

  .card-body {
    gap: 0rem;
    .name {
      font-size: 1.5rem;
      text-transform: capitalize;
      line-height: 1.5;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      .last-name {
        font-size: 1rem;
        text-transform: capitalize;
      }
    }
    .mail {
      span {
        color: mat.get-color-from-palette($primary-palette, 400);
      }
    }
    .designation {
      text-transform: capitalize;
    }
  }
}
