tr {

  td,
  th {
    padding: 1rem;

    &:nth-child(1) {
      min-width: 8ch;
      text-transform: uppercase;
    }

    &:nth-child(2) {
      min-width: 15ch;
    }

    &:nth-child(3) {
      min-width: 20ch;
    }

    &:nth-child(4) {
      min-width: 15ch;
    }

    &:nth-child(5) {
      &:not(td) {
        padding-left: 5vw;
      }

      &:not(th) {
        text-transform: capitalize;

        .role {
          display: block;
          width: 13ch;
          margin-inline: auto;
          text-align: center;
        }
      }
    }

  }
}

.placeholder-text {
  text-transform: unset !important;
}