.btn-container {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  button {

    &:hover {
      cursor: pointer !important;
    }
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  button.action-btn {
    border-radius: 0.4rem;
    height: 3rem;
  }



  @media screen and (width<600px) {
    button.action-btn {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      border-radius: 24px;

    }
  }

}

.mat-elevation-z8 {
  overflow-x: scroll;
}

tr {
  td {
    &:nth-child(1) {
      text-transform: uppercase;
    }

    &:nth-child(5) {
      text-transform: capitalize;
      text-align: left;

      .role {
        display: block;
        width: 13ch;
        text-align: center;
      }
    }
  }

  th {
    &:nth-child(5) {
      padding-left: 1.5rem
    }

    &:last-child {
      text-align: center;
    }


  }

  td,
  th {
    &:last-child {
      width: auto !important;
      padding: 1rem;


    }
  }
}

.placeholder-text {
  text-transform: unset !important;
}