<div class="header-container">
  <button
    mat-fab
    extended
    color="primary"
    class="action-btn"
    (click)="onAddNewUser()"
  >
    <mat-icon>add</mat-icon>
    New User
  </button>

  <mat-form-field class="searchbar">
    <input
      matInput
      placeholder="Filter"
      (keyup)="applyFilter(input.value)"
      #input
    />
    <button mat-icon-button matSuffix (click)="applyFilter((input.value = ''))">
      <mat-icon> {{ input.value === "" ? "search" : "close" }}</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="__container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div
    class="placeholder"
    *ngIf="
      !isLoading && dataSource._pageData(dataSource.filteredData).length === 0
    "
  >
    <h1>No data to display</h1>
    <button
      mat-fab
      extended
      color="primary"
      class="action-btn"
      (click)="onAddNewUser()"
    >
      <mat-icon>add</mat-icon>
      Add User
    </button>
  </div>

  <div
    class="cards-container"
    *ngIf="
      !isLoading && dataSource._pageData(dataSource.filteredData).length !== 0
    "
  >
    <ng-container
      *ngFor="
        let user of dataSource._pageData(dataSource.filteredData);
        index as i;
        trackBy: trackById
      "
    >
      <div class="card">
        <div class="card-header">
          <p class="employeeId">
            {{ user.employeeId }}
          </p>
          <p class="role" [class]="user.role">{{ user.role }}</p>
        </div>
        <div class="card-body">
          <p class="name">
            {{ user.name.split(" ")[0] }}
            <span class="last-name">{{
              user.name.split(" ").slice(1).join(" ")
            }}</span>
          </p>
          <p class="designation">
            <mat-icon>badge</mat-icon>
            <span>{{ user.designation }}</span>
          </p>
          <a class="mail" [href]="'mailto:' + user.email">
            <mat-icon>alternate_email</mat-icon>
            <span>{{ user.email }}</span>
          </a>
        </div>
        <div class="card-actions">
          <button mat-stroked-button color="primary" (click)="onEditUser(user)">
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button mat-stroked-button color="accent" (click)="onResetEmail(user.email)">
            <mat-icon>key</mat-icon> Reset
          </button>
          <button
            mat-stroked-button
            color="warn"
            (click)="onDeleteUser(user.uid, user.employeeId)"
          >
            <mat-icon>delete</mat-icon> Delete
          </button>
          <br>
        </div>
      </div>
    </ng-container>
  </div>

  <mat-paginator
    [pageSizeOptions]="[12, 24, 36, 60]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
